
table {

    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

tr:nth-child(even){

    background-color: #b3c4c6;
}

th,
td{

    border: 1px solid #264a50;
    padding: 0.75rem;
    text-align: center;
}

th{

    background-color: #253f59;
    color: #fff;
}

td{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}